p {
    font-size: 10pt;
    font-family: monospace;
    white-space: pre;
	font-weight: bold;
	color: green;
}
body {
    background-color: #000000;
} 
a {
	color: green;
}
a:hover {
	background-color: green;
	color: black;
}
tr {
	font-size: 10pt;
    font-family: monospace;
	font-weight: bold;
	color: green;
}
span{
	white-space: pre;
}